.mainScreen {
  height: 100vh;
  position: relative;
}

.button {
  position: absolute;
  top: 4%;
  right: 2%;
  transform: translate(-50%, -50%);
}

.title,
.strokeTitle {
  position: absolute;
  top: 6%;
  left: 20%;
  font-family: bebas, sans-serif;
  font-size: clamp(8rem, 30vw, 30rem);
  color: white;
}

.title {
  z-index: -1;
}

.strokeTitle {
  z-index: 2;
  color: transparent;
  -webkit-text-stroke: 3px white;
}

.subtitle {
  position: absolute;
  right: 0;
  bottom: -12%;
  z-index: 2;
  font-size: 12rem;
  color: var(--accent);
  -webkit-text-stroke: 3px var(--accent);
}

.slogan {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 2;
  font-size: 1rem;
  text-align: center;
  white-space: pre-line;
}

.spinningText {
  position: absolute;
  right: 5%;
  bottom: 10%;
  z-index: 2;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
}

@media (width <= 767px) {
  .title,
  .strokeTitle {
    top: 40%;
    left: 50%;
    font-size: 10rem;
    transform: translate(-50%, -50%);
  }

  .subtitle {
    right: 50%;
    bottom: -12%;
    font-size: 5rem;
    transform: translateX(50%);
  }

  .slogan {
    width: 100%;
    bottom: 35%;
    left: 50%;
    font-size: 1rem;
    transform: translateX(-50%);
  }

  .spinningText {
    width: 100%;
    right: 50%;
    bottom: 20%;
    font-size: 0.5rem;
    transform: translateX(50%);
  }

  .button {
    top: 3%;
    right: 5%;
    transform: translate(-50%, -50%);
  }
}

/* @media (width >= 768px) and (width <= 1024px) {
}

@media (width >= 1025px) and (width <= 1919px) {
}

@media (width >= 1920px) {
} */
