:root {
  --background: #171818;
  --foreground: #ededed;
  --accent: #5297f8;
  --accentHover: #3286fc;
  --border: 0.2vw solid #5297f8;
  --borderMobile: 0.5vw solid #5297f8;
  --borderRadius: 1vw;
  --borderRadiusMobile: 3vw;
}

html,
body {
  overflow-x: hidden;

  /* scrollbar-width: none;
  -ms-overflow-style: none; */
}

.bodyHidden {
  overflow: hidden;
}

.c-scrollbar {
  display: none !important;
}

body {
  position: relative;
  font-family: MariupolBold, sans-serif;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: text;
}

a {
  text-decoration: none;
  color: inherit;
}

/* html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
} */

/* @media (width >= 1920px) {
}

@media (width <= 768px) {
} */

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  z-index: 1;
  isolation: isolate;
  will-change: transform, opacity, scale;
}

::view-transition-new(root) {
  z-index: 2;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
