.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
  padding: 10vw;
  text-align: center;
  color: white;
  background-color: var(--background);
}

.title {
  font-size: 3.5vw;
}

.subtitle {
  margin-bottom: 2vw;
  font-size: 3vw;
}

.textTitle {
  margin-bottom: 2vw;
  font-size: 2vw;
  font-weight: 600;
}

.text {
  font-size: 2vw;
}

.text:last-of-type {
  margin-bottom: 2vw;
}

@media (width >= 768px) and (width <= 1279px) {
  .title {
    margin-bottom: 10vw;
    font-size: 7vw;
  }

  .text {
    margin-bottom: 10vw;
    font-size: 4vw;
  }
}

@media (width <= 767px) {
  .title {
    font-size: 7vw;
  }

  .subtitle {
    margin-bottom: 7vw;
    font-size: 6vw;
  }

  .textTitle {
    margin-bottom: 7vw;
    font-size: 5vw;
    font-weight: 600;
  }

  .text {
    font-size: 4vw;
  }

  .text:last-of-type {
    margin-bottom: 7vw;
  }
}
