.grid {
  margin-top: 4vw;
}

.wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 4vw;
  padding: 4vw 0;
  border-top: var(--border);
}

.phone {
  font-family: bahnschriftRegular, sans-serif;
  font-size: 3.5vw;
  line-height: 1;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.order {
  padding: 1vw 2vw;
  border-radius: var(--borderRadius);
  font-family: bahnschriftRegular, sans-serif;
  font-size: 1.5vw;
  text-align: center;
  background-color: var(--accent);
  cursor: pointer;
  place-self: center;
  -webkit-tap-highlight-color: transparent;
}

.copyright {
  font-size: 1vw;
}

.social {
  display: flex;
  justify-content: center;
  gap: 2vw;
  justify-self: right;
}

.title {
  font-size: 1.5vw;
  line-height: 1;
}

.address {
  font-size: 0.9vw;
  line-height: 1;
}

.contentPhone {
  display: block;
  font-size: 0.9vw;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}

.contentEmail {
  font-size: 0.9vw;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vw;
  height: 3vw;
}

.icon {
  width: 1.5vw;
  height: 1.5vw;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.phone:hover,
.address:hover,
.contentPhone:hover,
.contentEmail:hover,
.icon:hover {
  color: var(--accent);
}

@media (width <= 767px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    border-top: var(--borderMobile);
  }

  .order {
    padding: 3vw 7vw;
    margin-top: 3vw;
    border: var(--borderMobile);
    border-radius: var(--borderRadiusMobile);
    font-size: 5vw;
    grid-column: 1;
    grid-row: 1;
  }

  .phone {
    margin-top: 3vw;
    font-size: 8vw;
    grid-column: 1;
    grid-row: 2;
  }

  .title {
    font-size: 6vw;
  }

  .address {
    font-size: 4vw;
  }

  .contentPhone {
    font-size: 4vw;
  }

  .contentEmail {
    font-size: 4vw;
  }

  .copyright {
    font-size: 4vw;
  }

  .social {
    gap: 10vw;
    justify-self: center;
  }

  .iconWrapper {
    width: 10vw;
    height: 10vw;
  }

  .icon {
    width: 7vw;
    height: 7vw;
  }

  .phone:hover,
  .address:hover,
  .contentPhone:hover,
  .contentEmail:hover,
  .icon:hover {
    color: #fcfcfc;
  }
}

/* @media (width >= 768px) and (width <= 1024px) {
}

@media (width >= 1025px) and (width <= 1919px) {
}

@media (width >= 1920px) {
} */
