.grid {
  margin-top: clamp(2rem, 4vw, 6rem);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  border-top: 3px solid var(--accent);
  padding: clamp(2rem, 4vw, 6rem) 0;
  gap: clamp(2rem, 4vw, 6rem);
}

.phone {
  font-family: "bahnschriftRegular", sans-serif;
  font-size: clamp(1.5rem, 4vw, 4rem);
  line-height: clamp(1.5rem, 2vw, 2rem);
  text-align: center;
  align-self: top;
}

.phone:hover {
  color: var(--accent);
}

.order {
  place-self: center;
  display: flex; /* Додаємо Flexbox */
  align-items: center; /* Вирівнює по вертикалі */
  justify-content: center; /* Вирівнює по горизонталі */
  cursor: pointer;
  background-color: var(--accent);
  border-radius: 50%;
  font-size: clamp(1rem, 1vw, 1rem);
  padding: clamp(0.5rem, 2vw, 2rem);
  text-align: center;
  width: clamp(7rem, 10vw, 10rem);
  height: clamp(7rem, 10vw, 10rem);
  position: relative;
  z-index: 2;
}

.copyright {
  align-self: top;
}

.social {
  justify-self: right;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 767px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .order {
    grid-column: 1;
    grid-row: 1;
  }
  .phone {
    grid-column: 1;
    grid-row: 2;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 1025px) and (max-width: 1919px) {
}

@media (min-width: 1920px) {
}
