.primary {
  -webkit-tap-highlight-color: transparent;
  place-self: center;
  cursor: pointer;
  font-family: "bahnschriftRegular", sans-serif;
  background-color: var(--accent);
  border-radius: var(--borderRadius);
  font-size: 1.5vw;
  padding: 1vw 2vw;
  text-align: center;
  border: none;
}
