.primary {
  padding: 1vw 2vw;
  border: none;
  border-radius: var(--borderRadius);
  font-family: bahnschriftRegular, sans-serif;
  font-size: 1.5vw;
  text-align: center;
  background-color: var(--accent);
  cursor: pointer;
  place-self: center;
  -webkit-tap-highlight-color: transparent;
}

@media (width <= 767px) {
  .primary {
    padding: 4vw 8vw;
    border-radius: var(--borderRadiusMobile);
    font-size: 5vw;
  }
}

/* @media (width >= 768px) and (width <= 1024px) {
}

@media (width >= 1025px) and (width <= 1919px) {
}

@media (width >= 1920px) {
} */
