.section {
  position: relative;
}

.about {
  height: 80vh;
  margin-bottom: 1.5vw;
}

.achievements {
  margin-bottom: 5vw;
}

.services,
.reviews,
.approaches,
.business {
  margin-bottom: 1.5vw;
}

.container {
  position: relative;
}

.title {
  width: 90%;
  font-family: bahnschriftRegular, sans-serif;
  line-height: 1;
  text-transform: uppercase;
}

.approachesTitle,
.businessTitle,
.reviewsTitle,
.achievementsTitle {
  font-size: 7vw;
}

.aboutTitle {
  font-size: 4vw;
}

.servicesTitle {
  font-size: 9vw;
}

.grid {
  display: grid;
  grid-template-columns: 33vw 1fr;
  margin-top: clamp(2rem, 4vw, 6rem);
}

.list {
  width: 80%;
}

.content {
  position: relative;
  font-family: bahnschriftRegular, sans-serif;
  font-size: 1vw;
  font-weight: 200;
  line-height: 1.2vw;
}

.text {
  width: 50%;
}

.background {
  display: block;
  width: 50%;
  height: auto;
  position: absolute;
  top: 15vw;
  left: 0;
  z-index: -2;
  object-fit: cover;
  filter: brightness(30%);
  transform-origin: left center;
}

.background2 {
  display: block;
  width: 70%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(25%);
  transform-origin: left center;
}

.background3 {
  display: block;
  width: 50%;
  height: auto;
  position: absolute;
  top: 20%;
  right: 0;
  object-fit: cover;
  filter: brightness(40%);
  transform-origin: left center;
}

.video {
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  object-fit: contain;
  filter: brightness(0.7);
}

.button {
  position: absolute;
  top: 5vw;
  right: 15vw;
  transform: translate(-50%, -50%);
}

@media (width <= 767px) {
  .section {
    margin: 8vw 0;
  }

  .about {
    height: 80vh;
    margin-bottom: 3vw;
  }

  .achievements {
    margin-bottom: 30vw;
  }

  .services,
  .business {
    margin-bottom: 110vw;
  }

  .reviews {
    margin-bottom: 90vw;
  }

  .approaches {
    margin-bottom: 80vw;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .list {
    width: 100%;
  }

  .title {
    width: 90%;
    font-size: 7vw;
  }

  .approachesTitle,
  .businessTitle,
  .reviewsTitle,
  .achievementsTitle {
    font-size: 10vw;
  }

  .aboutTitle {
    font-size: 8vw;
  }

  .servicesTitle {
    font-size: 13vw;
  }

  .content {
    font-size: 5vw;
    line-height: 1;
  }

  .text {
    width: 100%;
    margin-top: 3vh;
  }

  .video {
    width: 200%;
    position: absolute;
    top: 30vh;
    right: -20vw;
  }

  .background {
    width: 120%;
    top: 10vh;
  }

  .background2 {
    width: 180%;
    top: 20vh;
    left: 0;
  }

  .background3 {
    width: 180%;
    top: 20vh;
    left: -20%;
  }

  .button {
    position: absolute;
    top: 5vw;
    right: 15vw;
    transform: translate(-50%, -50%);
  }
}

@media (width >= 768px) and (width <= 1024px) {
  .section {
    margin: 8vw 0;
  }

  .about {
    height: 80vh;
    margin-bottom: 3vw;
  }

  .achievements {
    margin-bottom: 30vw;
  }

  .services,
  .business {
    margin-bottom: 110vw;
  }

  .reviews {
    margin-bottom: 90vw;
  }

  .approaches {
    margin-bottom: 80vw;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .list {
    width: 100%;
  }

  .title {
    width: 90%;
    font-size: 7vw;
  }

  .approachesTitle,
  .businessTitle,
  .reviewsTitle,
  .achievementsTitle {
    font-size: 10vw;
  }

  .aboutTitle {
    font-size: 8vw;
  }

  .servicesTitle {
    font-size: 13vw;
  }

  .content {
    font-size: 3vw;
    line-height: 1;
  }

  .text {
    width: 90%;
    margin-top: 3vh;
  }

  .video {
    width: 200%;
    position: absolute;
    top: 30vh;
    right: -20vw;
  }

  .background {
    width: 120%;
    top: 10vh;
  }

  .background2 {
    width: 180%;
    top: 20vh;
    left: 0;
  }

  .background3 {
    width: 180%;
    top: 20vh;
    left: -20%;
  }

  .button {
    position: absolute;
    top: 5vw;
    right: 15vw;
    transform: translate(-50%, -50%);
  }
}

/* @media (width >= 1025px) and (width <= 1919px) {
}

@media (width >= 1920px) {
} */
