.section {
  position: relative;
}

.container {
  position: relative;
}

.title {
  font-family: "bahnschriftRegular", sans-serif;
  width: 90%;
  text-transform: uppercase;
  line-height: 1;
}

.grid {
  display: grid;
  grid-template-columns: 33vw 1fr;
  margin-top: clamp(2rem, 4vw, 6rem);
}

.list {
  width: 80%;
}
.content {
  font-family: "bahnschriftRegular", sans-serif;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.4vw;
  font-weight: 200;
  position: relative;
}

.text {
  width: 50%;
}

.background {
  position: absolute;
  top: 100px;
  left: 0;
  width: 50%;
  height: auto;
  display: block;
  object-fit: cover;
  filter: brightness(30%);
  transform-origin: left center;
  z-index: -2;
}

.background2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: auto;
  display: block;
  object-fit: cover;
  filter: brightness(30%);
  transform-origin: left center;
}

.video {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  object-fit: contain;
  z-index: -1;
  filter: brightness(0.7);
}

@media (max-width: 767px) {
  .section {
    margin: 8vw 0;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .list {
    width: 100%;
  }
  .title {
    font-size: 7vw;
    width: 90%;
  }
  .content {
    font-size: 5vw;
    line-height: 1;
  }
  .text {
    width: 90%;
    margin-top: 3vh;
  }
  .video {
    position: absolute;
    top: 30vh;
    right: -20vw;
    width: 200%;
  }
  .background {
    top: 10vh;
    width: 120%;
  }
  .background2 {
    top: 20vh;
    left: 0;
    width: 180%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1025px) and (max-width: 1919px) {
}

@media (min-width: 1920px) {
}
