.mainScreen {
  position: relative;
  height: 100vh;
}

.button {
  position: absolute;
  right: 2%;
  top: 4%;
  transform: translate(-50, -50%);
}

.title,
.strokeTitle {
  position: absolute;
  top: 6%;
  left: 20%;
  font-family: "bebas", sans-serif;
  font-size: 25vw;
  color: white;
}

.title {
  z-index: -1;
}

.titleBusiness {
  z-index: -1;
}

.titleBusiness,
.strokeTitleBusiness {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%) !important;
  font-family: "bebas", sans-serif;
  font-size: 10vw;
  color: white;
  white-space: pre-wrap;
}

.strokeTitle,
.strokeTitleBusiness {
  -webkit-text-stroke: 0.2vw white;
  color: transparent;
  z-index: 2;
}

.subtitle {
  position: absolute;
  bottom: -12%;
  right: 0;
  font-size: 10vw;
  z-index: 2;
  color: var(--accent);
  -webkit-text-stroke: 0.2vw var(--accent);
}

.slogan {
  position: absolute;
  bottom: 10%;
  left: 5%;
  text-align: center;
  font-size: 1vw;
  z-index: 2;
  white-space: pre-line;
}

.spinningText {
  position: absolute;
  bottom: 10%;
  right: 5%;
  text-align: center;
  z-index: 2;
  opacity: 0;
}

@media (max-width: 767px) {
  .title,
  .strokeTitle {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45vw;
  }

  .titleBusiness,
  .strokeTitleBusiness {
    font-size: 10vw;
  }

  .strokeTitle,
  .strokeTitleBusiness {
    -webkit-text-stroke: 0.3vw white;
  }

  .subtitle {
    bottom: -12%;
    right: 50%;
    transform: translateX(50%);
    font-size: 20vw;
  }

  .slogan {
    width: 100%;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4.5vw;
  }

  .spinningText {
    width: 100%;
    bottom: 20%;
    right: 50%;
    transform: translateX(50%);
  }
  .button {
    right: 5%;
    top: 3%;
    transform: translate(-50, -50%);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title,
  .strokeTitle {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45vw;
  }

  .titleBusiness,
  .strokeTitleBusiness {
    font-size: 15vw;
  }

  .strokeTitle,
  .strokeTitleBusiness {
    -webkit-text-stroke: 0.3vw white;
  }

  .subtitle {
    bottom: -12%;
    right: 50%;
    transform: translateX(50%);
    font-size: 20vw;
  }

  .slogan {
    width: 100%;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4.5vw;
  }

  .spinningText {
    width: 100%;
    bottom: 15%;
    right: 50%;
    transform: translateX(50%);
  }
  .button {
    right: 5%;
    top: 3%;
    transform: translate(-50, -50%);
  }
}

@media (min-width: 1025px) and (max-width: 1919px) {
}

@media (min-width: 1920px) {
}
