.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  padding: 0 1.5vw;
  overflow: hidden;
}

.cardWrapper {
  opacity: 0;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  transform-style: preserve-3d;
}

.image {
  transition: transform 0.3s ease;
  transform: scale(1);
}

.title {
  padding-top: 0.6vw;
  font-family: bahnschrift, sans-serif;
  font-size: 1.5vw;
}

.cardWrapper:hover .title {
  color: var(--accent);
}

.cardWrapper:hover .image {
  transform: scale(1.1);
}

.description,
.customer {
  padding-bottom: 0.6vw;
  font-family: bahnschriftRegular, sans-serif;
  font-size: 0.8vw;
  color: gray;
}

.year {
  padding-top: 0.6vw;
  font-family: bahnschriftRegular, sans-serif;
  font-size: 0.65vw;
  color: gray;
}

@media (width <= 767px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 5vw;
    padding: 0 3vw;
  }

  .title {
    padding-top: 5vw;
    font-size: 6vw;
  }

  .cardWrapper:hover .title {
    color: white;
  }

  .cardWrapper:hover .image {
    transform: scale(1);
  }

  .description,
  .customer {
    padding-bottom: 5vw;
    font-size: 4vw;
  }

  .year {
    padding-top: 5vw;
    font-size: 3vw;
  }
}

/* Планшет */
@media (width >= 768px) and (width <= 1024px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* @media (width >= 1025px) and (width <= 1919px) {
} */

@media (width >= 1920px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
