.text {
  margin: 0;
  font-family: bahnschrift, sans-serif;
  font-size: 1.5vw;
  line-height: 0;
}

.text:nth-child(even) {
  color: var(--accent);
}

@media (width <= 767px) {
  .text {
    font-size: 7vw;
  }
}

@media (width >= 768px) and (width <= 1024px) {
  .text {
    font-size: 5vw;
  }
}

/* @media (width >= 1025px) and (width <= 1919px) {
}

@media (width >= 1920px) {
} */
