.wrapper {
  margin-top: 5vw;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 40vh;
  position: relative;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 50%;
  height: 17vw;
  padding: 2vw;
  border: var(--border);
  border-radius: var(--borderRadius);
  position: absolute;
  text-align: center;
  background: var(--background);
}

.title {
  margin-bottom: 1vw;
  font-size: 1.5vw;
}

.content {
  font-size: 0.9vw;
}

.company {
  margin-top: 1vw;
  font-size: 0.9vw;
  color: gray;
}

.prev,
.next {
  width: 5vw;
  height: 5vw;
  position: absolute;
  top: 50%;
  z-index: 20;
  color: gray;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translateY(-50%);
}

.prev {
  left: 1vw;
}

.next {
  right: 1vw;
}

@media (width <= 767px) {
  .carousel {
    width: 100%;
    height: 40vh;
  }

  .card {
    width: 70%;
    height: 80%;
    border: var(--borderMobile);
    border-radius: var(--borderRadiusMobile);
  }

  .title {
    margin-bottom: 1vw;
    font-size: 7vw;
  }

  .content {
    font-size: 4vw;
  }

  .company {
    font-size: 4vw;
  }

  .prev,
  .next {
    width: 15vw;
    height: 15vw;
  }

  .prev {
    left: -5vw;
  }

  .next {
    right: -5vw;
  }
}

/* @media (width >= 768px) and (width <= 1024px) {
} */

@media (width >= 1025px) and (width <= 1919px) {
  .prev {
    left: -1.5vw;
  }

  .next {
    right: -1.5vw;
  }
}

/* @media (width >= 1920px) {
} */
