.carousel {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card {
  position: absolute;
  width: 50%;
  height: 300px;
  padding: 20px;
  border-radius: 16px;
  background: var(--background);
  border: 3px solid var(--accent);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.content {
  font-size: 1rem;
}

.company {
  font-size: 1rem;
  color: gray;
  margin-top: 1rem;
}

.prev {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 20;
  width: 100px;
  height: 100px;
  color: gray;
}

.next {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 20;
  width: 100px;
  height: 100px;
  color: gray;
}
