.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.current,
.next {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  inset: 0;
}

.next {
  z-index: 2; /* поверх поточного */
}

.left,
.right {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  z-index: 10;
  color: white;
  background-color: rgb(0 0 0 / 20%);
  object-fit: cover;
  cursor: pointer;
}

.left {
  right: 50%;
}

.right {
  right: 2vw;
}

.left:hover,
.right:hover {
  background-color: rgb(0 0 0 / 50%);
}

@media (width <= 767px) {
  .wrapper {
    height: 200px;
  }

  .left,
  .right {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    color: white;
    background-color: rgb(0 0 0 / 50%);
    object-fit: cover;
    cursor: pointer;
  }

  .left {
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
  }

  .right {
    top: 50%;
    right: 10%;
    transform: translate(50%, -50%);
  }
}

/* @media (width >= 768px) and (width <= 1024px) {
}

@media (width >= 1025px) and (width <= 1919px) {
}

@media (width >= 1920px) {
} */
