.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  user-select: none;

  /* Safari */
}

.inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.current,
.next {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  inset: 0;
}

.next {
  z-index: 2; /* поверх поточного */
}

@media (width <= 767px) {
  .wrapper {
    height: 200px;
  }
}

/* @media (width >= 768px) and (width <= 1024px) {
}

@media (width >= 1025px) and (width <= 1919px) {
}

@media (width >= 1920px) {
} */
