.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 10%;
  filter: brightness(0.7);
}

@media (max-width: 767px) {
  .video {
    top: -15%;
    left: -20%;
    width: 200%;
    object-fit: contain;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 1025px) and (max-width: 1919px) {
}
