.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  padding: 3rem;
  z-index: 3;
  /* background: rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentWrapper {
  padding: 1rem;
  height: 100%;
  overflow: auto;
}

.list {
  list-style: none;
}

.listItem {
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
  position: relative;
}

.listItem::before {
  content: "";
  width: 5px;
  height: 5px;
  background: #5297f8;
  position: absolute;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.contentWrapper::-webkit-scrollbar {
  width: 6px; /* залишаємо лише вузьку смужку для thumb */
  background: transparent;
}

.contentWrapper::-webkit-scrollbar-track {
  background: transparent;
}

.contentWrapper::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 4px;
}

.contentWrapper::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

@-moz-document url-prefix() {
  .contentWrapper {
    scrollbar-width: thin;
    scrollbar-color: var(--accent) transparent;
    scrollbar-gutter: stable;
  }
}

.title {
  z-index: 2;
}

.paragraph {
  padding-bottom: 2rem;
  font-family: "bahnschriftRegular", sans-serif;
}
