.video {
  width: 80%;
  margin-top: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  object-fit: contain;
  filter: brightness(0.7);
}

.video2 {
  width: 80%;
  margin-top: 201vh;
  position: absolute;
  top: 0;
  left: -5%;
  z-index: 1;
  object-fit: contain;
  filter: brightness(0.7);
}
