.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgb(0 0 0 / 70%);
  opacity: 0;
  transition: all 0.3s ease;
}

.container.active {
  z-index: 100;
  opacity: 1;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  width: 70%;
  height: fit-content;
  padding: 4vw;
  border-radius: 1.5vw;
  position: relative;
  color: var(--background);
  background-color: white;
}

.title {
  margin-bottom: 1vw;
  font-family: bahnschrift, sans-serif;
  font-size: 2vw;
  line-height: 2vw;
}

.content {
  flex: 1;
  width: 50%;
}

.text {
  font-size: 1vw;
  line-height: 1.2;
}

.imageWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 30vw;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.closeIcon {
  width: 3vw;
  height: 3vw;
  padding: 0.5vw;
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
}

.label {
  margin: 0.5vw 0;
  font-size: 1vw;
}

.input {
  padding: 0.5vw;
  border: 0.15vw solid var(--background);
  border-radius: 0.5vw;
  font-size: 1vw;

  /* color: white; */
  color: var(--background);
  background-color: white;
}

.inputError {
  border-color: red !important;
}

.input:focus {
  border: 0.15vw solid var(--accent);
  outline: none;
}

.input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

.requiredSpan {
  margin-top: 0.2vw;
  font-size: 0.8vw;
  color: red;
}

.button {
  padding: 0.8vw 1vw;
  margin-top: 2vw;
  border: none;
  border-radius: 0.5vw;
  font-size: 0.9vw;
  color: white;
  background-color: var(--accent);
  cursor: pointer;
}

.button:hover {
  background-color: var(--accentHover);
}

.highlight {
  color: var(--accent);
}

/* @media (width >= 768px) and (width <= 1024px) {
} */

@media (width <= 767px) {
  .contentWrapper {
    flex-direction: column;
    gap: 8vw;
    width: 90%;
    padding: 8vw;
  }

  .title {
    margin-bottom: 5vw;
    font-size: 6vw;
    line-height: 1;
  }

  .content {
    width: 100%;
    height: 60%;
  }

  .text {
    font-size: 4vw;
    line-height: 1.2;
  }

  .imageWrapper {
    flex: 1 0 auto;
    width: 100%;
    height: 30vh;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .closeIcon {
    width: 8vw;
    height: 8vw;
    padding: 0.1vw;
    top: 2vw;
    right: 2vw;
  }

  .label {
    margin: 0.5vw 0;
    font-size: 4vw;
  }

  .input {
    padding: 2vw;
    border: 0.25vw solid var(--background);
    border-radius: 2vw;
    font-size: 4vw;
  }

  .requiredSpan {
    font-size: 3vw;
  }

  .button {
    padding: 3vw 1vw;
    margin-top: 8vw;
    border: none;
    border-radius: 2vw;
    font-size: 4vw;
  }

  .button:hover {
    background-color: var(--accent);
  }
}
