.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 2rem;
  font-family: bahnschrift, sans-serif;
  font-size: 2rem;
  -webkit-tap-highlight-color: transparent;
}

@media (width <= 767px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

/* Планшет */
@media (width >= 768px) and (width <= 1024px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

/* @media (width >= 1025px) and (width <= 1919px) {
} */

/* Великий десктоп */
@media (width >= 1920px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
