.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 2rem;
}

.cardWrapper {
  cursor: pointer;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.cardWrapper:hover .title {
  color: var(--accent);
}

.cardWrapper:hover .image {
  transform: scale(1.1);
}

.image {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 2rem;
  font-size: 2rem;
  font-family: "bahnschrift", sans-serif;
}

.title {
  font-family: "bahnschrift", sans-serif;
  font-size: 1.5rem;
  padding-top: 0.7rem;
}

.description {
  font-family: "bahnschriftRegular", sans-serif;
  font-size: 0.8rem;
  color: gray;
  padding-bottom: 0.7rem;
}

.customer {
  font-family: "bahnschriftRegular", sans-serif;
  font-size: 0.8rem;
  color: gray;
  padding-top: 0.7rem;
}

.year {
  font-family: "bahnschriftRegular", sans-serif;
  font-size: 0.7rem;
  color: gray;
  padding-top: 0.7rem;
}



@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

/* Планшет */
@media (min-width: 768px) and (max-width: 1024px) {
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

/* Малий десктоп */
@media (min-width: 1025px) and (max-width: 1919px) {

}

/* Великий десктоп */
@media (min-width: 1920px) {
	.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
 
}
