.container {
  height: 100vh;
  position: relative;
}

.title {
  width: 80%;
  font-size: clamp(3rem, 4vw, 6rem);
  line-height: clamp(3rem, 4vw, 6rem);
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: 33vw 1fr;
  margin-top: clamp(2rem, 4vw, 6rem);
}
.text {
  font-family: "bahnschriftRegular", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7rem;
  font-weight: 200;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: auto;
  display: block;
  object-fit: cover;
  filter: brightness(30%);
  transform-origin: left center;
}

.splitText {
  display: block;
  will-change: transform, opacity;
  transform: translateZ(0);
  word-break: break-word;
}

.mission {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--accent);
  transform: rotate(90deg);
  transform-origin: top left;
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1025px) and (max-width: 1919px) {
}

@media (min-width: 1920px) {
}
