.wrapper {
  width: 80%;
  font-size: clamp(2rem, 4vw, 5rem);
  line-height: clamp(2rem, 4vw, 5rem);
  text-transform: uppercase;
  overflow: hidden;
  display: inline-block;
  /* white-space: pre-line; */
}

.grid {
  display: grid;
  grid-template-columns: 33vw 1fr;
  margin-left: 2vw;
}
.text {
  font-family: "bahnschriftRegular", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7rem;
  font-weight: 200;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: auto;
  display: block;
  object-fit: cover;
  filter: brightness(30%);
  transform-origin: left center;
}

.splitText {
  display: block;
  will-change: transform, opacity;
  transform: translateZ(0);
  word-break: break-word;
}

.mission {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--accent);
  transform: rotate(90deg);
  transform-origin: top left;
  font-size: 1.5rem;
}

@media (width < 768px) {
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    display: block;
    object-fit: cover;
    filter: brightness(30%);
    transform-origin: left center;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
