.container {
  font-family: bahnschriftThin, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  line-height: 1;
}

.buttonMain {
  font-family: bahnschrift, sans-serif;
  font-size: 2rem;
  -webkit-tap-highlight-color: transparent;
}

.buttonBack {
  font-family: bahnschriftRegular, sans-serif;
  font-size: 1.1rem;
  -webkit-tap-highlight-color: transparent;
}

.buttonBack::before {
  margin-right: 0.5rem;
  color: var(--accent);
  content: "\276E";
}

.year {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #adadad;
}

.title {
  margin-top: 2rem;
  font-family: bahnschriftRegular, sans-serif;
  font-size: 1.8rem;
}

.customer {
  margin-top: 2rem;
  color: #adadad;
}

.carousel {
  height: 200px;
  margin-top: 1.8rem;
}

.list {
  list-style: none;
}

.listItem {
  margin-top: 1rem;
  margin-left: 1rem;
  position: relative;
  color: #adadad;
}

.listItem::before {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  background: #5297f8;
  content: "";
  transform: translateY(-50%);
}

.paragraph {
  margin-top: 1.8rem;
  font-size: 1.1rem;
  line-height: 1.2;
  color: #adadad;
  overflow-wrap: break-word;
}

.footer {
  margin: 1.8rem 0;
  font-style: italic;
}

/* @media (width <= 767px) {
}

@media (width >= 768px) and (width <= 1024px) {
}

@media (width >= 1025px) and (width <= 1919px) {
}

@media (width >= 1920px) {
} */
